body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}
.align-center{
    align-items: center;
}
header{
    position: relative;
}
header nav{
    position: fixed;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    z-index: 999;
    transition: all .3s ease;
}
header nav.nav-fixed{
    margin: 0;
    background: rgba(1,8,43,0.5);
}
header nav ul.navigation{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul.navigation li a{
    display: block;
    padding: 0 16px;
    color:#c7cf00;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
header nav ul.navigation li:last-child a{
    padding-right: 0;
}
header nav ul.navigation li a:after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background:#023f33;
    opacity: 0;
    transition: all .3s ease;
}
header nav ul.navigation li a:hover:after{
    width: 100%;
    opacity: 1;
}
header nav .nav-toggle{
    display: none;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#c90574;
    font-size: 25px;
    text-decoration: none;
    padding-left: 0px;
}
/*reglage de photo de banner*/
.main-banner{
    display: block;
    width: 100%;
    height: 80vh;
}
.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(1,8,43,0.5)
}
.title{
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
}
.title::before{
    content: 'I am a Developer';
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #f509f5;
    overflow: hidden;
    border-right: 1px solid #fff;
    animation: type 10s steps(30)infinite;
    white-space: nowrap;
}
@keyframes type{
    0%{
        width:0;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}
/*==========About Me section======*/
.aboutme{
    padding: 45px 0;
}
.aboutme .section-title h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000f2b;
    font-size: 40px;
    font-weight: bold;
    padding: 30px 30px 30px 30px;
}
.aboutme .my-photo .myphoto{
    float: right;
    border: none;
    overflow: hidden;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius: 100px;
    width: 250px;
    height: 250px;
    padding: 40px 40px 40px 40px;
    size: 250px;
    display: flex;
}
.aboutme .my-photo .myphoto:hover{
    -webkit-transform:scale(1.25,1.25) ;
    transform:scale(1.25,1.25) ;
}
.aboutme .my-photo .my-name{
    color: rgb(126, 6, 46);
    text-align: justify;
    font-size: 21px;
    padding: 30px 30px 30px 30px;
}
.aboutme p{
    color: rgb(8, 8, 8);
    text-align: justify;
    padding: 30px 30px 30px 30px;
}
.about-me{
    margin: 32px auto;
    text-align: center;
    padding: 30px 30px 30px 30px;
    background: rgb(144, 226, 247);
    box-shadow: 0 10px 10px #010831;
}
/*==========End About Me section======*/

/*==========Skills section======*/
.skills{
    padding: 42px 0;
}
.skills .section-title h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000f2b;
    font-size: 40px;
    font-weight: bold;
}
/*===barre de skills===*/

body { background: #E9E5E2;margin:2%; }

#SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 95%;
    height: auto;
    margin: 40px auto;
    background-color: #fff;
    /*border: 1px solid #cdcdcd;*/
    padding: 10px;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}
.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 20px auto;
}
#Skill-HTML {
    width: 100%;
    animation: Animate-HTML 4s infinite;
    -webkit-animation: Animate-HTML 4s infinite;
    -moz-animation: Animate-HTML 4s infinite;
    -o-animation: Animate-HTML 4s infinite;
    height: 50px;
    position: absolute;
    background-color: #ea8564;
}
@keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate-HTML {
    from {
    width: 10px;
}
to {
    width: 100%}
}
#Skill-HTML:hover{
    animation-direction: paused;
}
#Skill-CSS {
    animation: Animate-CSS 5s infinite;
    -webkit-animation: Animate-CSS 5s infinite;
    -moz-animation: Animate-CSS 5s infinite;
    -o-animation: Animate-CSS 5s infinite;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}
@keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate-CSS {
    from {
    width: 10px;
}
to {
    width: 70%}
}
#Skill-CSS:hover{
    animation-direction: paused;
}
#Skill-jQuery {
    animation: Animate-jQuery 5s infinite;
    -webkit-animation: Animate-jQuery 5s infinite;
    -moz-animation: Animate-jQuery 5s infinite;
    -o-animation: Animate-jQuery 5s infinite;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #99856d;
}
@keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-jQuery {
    from {
    width: 10px;
}
to {
    width: 40%}
}
#Skill-jQuery:hover {
    animation-play-state: paused;
}

#Skill-JS {
    animation: Animate-JS 4s infinite;
    -webkit-animation: Animate-JS 4s infinite;
    -moz-animation: Animate-JS 4s infinite;
    -o-animation: Animate-JS 4s infinite;
    width: 65%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}
@keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-webkit-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-moz-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}@-o-keyframes Animate-JS {
    from {
    width: 10px;
}
to {
    width: 65%}
}
#Skill-JS:hover {
    animation-play-state: paused;
}
#Skill-XML {
    animation: Animate-XML 4s infinite;
    -webkit-animation: Animate-XML 4s infinite;
    -moz-animation: Animate-XML 4s infinite;
    -o-animation: Animate-XML 4s infinite;
    width: 40%;
    height: 50px;
    position: absolute;
    background-color: #5aa669;
}
@keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-webkit-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-moz-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}@-o-keyframes Animate-XML {
    from {
    width: 10px;
}
to {
    width: 40%}
}
#Skill-XML:hover {
    animation-play-state: paused;
}
#Skill-C {
    animation: Animate-C 4s infinite;
    -webkit-animation: Animate-C 4s infinite;
    -moz-animation: Animate-C 4s infinite;
    -o-animation: Animate-C 4s infinite;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}
@keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate-C {
    from {
    width: 10px;
}
to {
    width: 30%}
}
#Skill-C:hover {
    animation-play-state: paused;
}
#Skill-JAVA {
    animation: Animate-JAVA 4s infinite;
    -webkit-animation: Animate-JAVA 4s infinite;
    -moz-animation: Animate-JAVA 4s infinite;
    -o-animation: Animate-JAVA 4s infinite;
    width: 25%;
    height: 50px;
    position: absolute;
    background-color: #8e930c;
}
@keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-webkit-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-moz-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-o-keyframes Animate-JAVA {
    from {
    width: 10px;
}
to {
    width: 25%}
}
#Skill-JAVA:hover {
    animation-play-state: paused;
}
#Skill-PHP {
    animation: Animate-PHP 4s infinite;
    -webkit-animation: Animate-PHP 4s infinite;
    -moz-animation: Animate-PHP 4s infinite;
    -o-animation: Animate-PHP 4s infinite;
    width: 50%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}
@keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-webkit-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-moz-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}@-o-keyframes Animate-PHP {
    from {
    width: 10px;
}
to {
    width: 50%}
}
#Skill-PHP:hover {
    animation-play-state: paused;
}
#Skill-SQL {
    animation: Animate-SQL 4s infinite;
    -webkit-animation: Animate-SQL 4s infinite;
    -moz-animation: Animate-SQL 4s infinite;
    -o-animation: Animate-SQL 4s infinite;
    width: 80%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}
@keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate-SQL {
    from {
    width: 10px;
}
to {
    width: 80%}
}
#Skill-SQL:hover {
    animation-play-state: paused;
}
#Skill-VBNET {
    animation: Animate-VBNET 4s infinite;
    -webkit-animation: Animate-VBNET 4s infinite;
    -moz-animation: Animate-VBNET 4s infinite;
    -o-animation: Animate-VBNET 4s infinite;
    width: 35%;
    height: 50px;
    position: absolute;
    background-color: #f8a51e;
}
@keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-webkit-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-moz-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}@-o-keyframes Animate-VBNET {
    from {
    width: 10px;
}
to {
    width: 35%}
}
#Skill-VBNET:hover {
    animation-play-state: paused;
}

.Skill-Area {
    z-index: 1;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-size: 18px;
}
.PercentText {
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    /*font-family: Lato-Regular, sans-serif;*/
    font-size: 18px;
}
/*===End barre de skills===*/
.skills-center{
    max-width: 80vw;
    margin: 22px auto;
}
.skill{
    margin: 22px auto;
    text-align: center;
    padding: 22px 0;
    background: #fff;
    box-shadow: 0 10px 10px #010831;
}
.skill-icon{
    font-size: 38px;
    color: #580458;
}
.skill-title{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    letter-spacing: 3.2px;
    color: rgb(219, 122, 4);
}
.skill-des{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 3.2px;
    color: #010831;
}
@media screen and (min-width: 768px){
    .skills-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .skill{
        flex:0 0 calc(50% - 8px);
    }
}
@media screen and (min-width: 992px){
    .skill{
        flex: 0 0 calc(33.3333% - 4px);
    }
}
/*==========End Skills section======*/
/*---Work Section--*/
#gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#gallery li{
    width: 20%;
    position:relative;
    overflow: hidden;
    cursor: pointer;
}
#gallery li img{
    display: block;
    width: 100%;
    transition: all .3s ease;
}
#gallery li:hover img{
    transform: scale(1.2);
}
#gallery li:after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #01083167;
}
#gallery li:hover:after{
    width: 0;
    height: 0;
}
.overlay{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}
.overly img{
    max-width: 80%;  
}
span.overlay-close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 100%;
    cursor: pointer;
    
}
/*---Work Section--*/
/*---Projects--*/
#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#projects h2{
    color: #010831;
}
.projects{
    position: relative;
    max-width: 500px;
}
.projects ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.projects ul li{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects ul li .client-data img{
    border-radius: 100%;
}
.projects ul li .client-name{
    display: block;
    margin: 15px 0;
}
.projects ul li > p{
    font-style: italic;
    font-size: 20px;
    color: #010831;
    text-align: center;
}
.projects .client-arrow{
    position: absolute;
    display: inline-block;
    top: 50%;
    padding: 20px;
    border: solid #010831;
    border-width: 0 3px 3px 0;
    cursor: pointer;
    transition: border-color .3s ease;
}
.projects .client-arrow.arrow-left{
    right: 120%;
    transform: rotate(135deg);
}
.projects .client-arrow.arrow-right{
    left: 120%;
    transform: rotate(-45deg);
}
.projects .client-arrow:hover{
    border-color: #000;
}
/*---End of Projects--*/
/*---Contact--*/

#contact {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #contact h2{
    text-align: center;
    padding-top: 20px;
    color: #010831;
  }
  .container_Contact {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
  }
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 8px;
    font-family: "Montserrat";
    box-shadow: inset 0 -3px 0 0 #161616;
    color: #fff;
    background: #2f1575;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease background-color;
  }
  button[type="submit"]:hover {
    color: #420228;
    background: rgb(119, 109, 182);
    box-shadow: inset 0 -4px 0 0 #5765b3;
  }
  #status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(3, 124, 39);
    color: white;
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(202, 7, 7);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
/*---End of Contact--*/
/*---Foooter--*/
footer{
    padding: 20px;
    background-color: #7b7c83;
}
footer .social-icons{
    display: flex;
    list-style-type: none;
}
footer .social-icons li{
    margin-left: 15px;
}
footer .social-icons li a{
    display: flex;
    transition: opacity .3s ease;
    text-decoration: none;
}
footer .social-icons li a:hover{
    opacity: .7;
}
footer .social-icons li a .fa-facebook{
    color:rgba(3, 3, 97, 0.753);
}
footer .social-icons li a .fa-twitter{
    color:rgba(39, 169, 245, 0.753);
}
footer .social-icons li a .fa-youtube{
    color:rgb(184, 6, 6);
}
footer .social-icons li a .fa-instagram{
    color:rgb(245, 35, 192);
}
footer .social-icons li a .fa-linkedin{
    color:rgb(15, 17, 49);
}


/*---End of Footer--*/
/*---Responsive--*/
@media all and (max-width:1020px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media all and (max-width:820px){
    h1{
        font-size: 55px;
    }
    .projects .arrow{
        padding: 15px;
    }
    .projects .arrow.arrow-right{
        left: 100%;
    }
    .projects .arrow.arrow-right{
        right: 100%;
    }
}
@media all and (max-width:680px){
    header nav{
        position:absolute;
    }
    header nav .nav-fixed{
        background: none;
    }
    ul.navigation{
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        background: #021266;
        transition: max-height .4s ease;
    }
    ul.navigation.navigation-opened{
        max-height: 500px;
        transition: max-height 1s ease;
    }
    ul.navigation li{
        padding: 0 15px;
    }
    ul.navigation li a{
        display: block;
        padding: 10px 0;
        color: #fff;
        border-bottom: solid 1px #fff;
        text-decoration: none;
    }
    ul.navigation li:first-child a{
        padding-top: 20px;
    }
    ul.navigation li:last-child a{
        padding-bottom: 20px;
        border-bottom: none;
    }
    header nav .nav-toggle{
        display: block;
        font-size: 25px;
        color: #fff;
        z-index: 1;
    }
    header nav .nav-toggle:hover .navigation{
        display: block;
        font-size: 25px;
        color: #fff;
        z-index: 1;
    }

}
@media all and (max-width:600px){
    .logo{
        width: 50px;
        height: 50px;
        font-size: 20px;
        padding-left: 20px;
    }
    h1, h2{
        font-size: 35px;
    }
    .projects .client-arrow{
        padding: 8px;
    }
    .projects{
        max-width: 60%;
    }
    .projects .client-data img{
        max-width: 120px;
        align-items: center;
    }
    .projects ul li > p{
        font-size: 17px;
    }
    #gallery li{
        width: 33.33%;
    }
}
/*---End of Responsive--*/

nav .social-icons{
    display: flex;
    list-style-type: none;
    padding: 0;
}
nav .social-icons li{
    margin-left: 15px;
}
nav .social-icons li a{
    color: #c90574;
    display: flex;
    transition: opacity .3s ease;
    text-decoration: none;
}
nav .social-icons li a:hover{
    opacity: .7;
}
nav .social-icons li a:hover .fa-facebook{
    color:rgba(3, 3, 97, 0.753);
}
nav .social-icons li a:hover .fa-twitter{
    color:rgba(39, 169, 245, 0.753);
}
nav .social-icons li a:hover .fa-youtube{
    color:rgb(184, 6, 6);
}
nav .social-icons li a:hover .fa-instagram{
    color:rgb(245, 35, 192);
}
nav .social-icons li a:hover .fa-linkedin{
    color:rgb(15, 17, 49);
}